<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Insurance | Insurances type</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
	<link href="static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="static/style.css">

	<!--[if lt IE 9]>
		<script src="static/js/ie-support/html5.js"></script>
		<script src="static/js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>

	<div id="site-content">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="static/images/logo.png" alt="Company Name" class="logo">
						<div class="logo-text">
							<h1 class="site-title">HealthLine</h1>
							<small class="description">Your health's helpline</small>
						</div>
					</a> <!-- #branding -->

					<div class="right-section pull-right">
						<a href="#" class="phone"><img src="static/images/icon-phone.png" class="icon">+1 823 424
							9134</a>

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button type="submit"><img src="static/images/icon-search.png" alt=""></button>
						</form>
					</div>
				</div> <!-- .container -->
			</div> <!-- .top-header -->


			<div class="bottom-header">
				<div class="container">
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Home</a></li>
							<li class="menu-item current-menu-item"><a href="/insurance">Insurance plans</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</div>

		</header> <!-- .site-header -->

		<main class="main-content">
			<div class="breadcrumbs">
				<div class="container">
					<a href="/">Home</a>
					<span>Insurance</span>
				</div>
			</div>

			<div class="page">
				<div class="container">
					<h3 class="entry-title">Choose your own insurance plan</h3>

					<div class="filterable-items">
						<div class="insurance-item">
							<div class="insurance-content">
								<div class="insurance-icon"><i class="icon-heartbeat"></i></div>
								<h3 class="insurance-title">CardioSure</h3>
								<p>Keep your heart healthy and safe. From yearly check-ups to bypass surgeries, we cover
									it all.<br><strong>Insured Amount : 400000/-</strong> </p>
								<a href="/buy/1" class="button">Buy now</a>
							</div>
						</div>


						<div class="insurance-item">
							<div class="insurance-content">
								<div class="insurance-icon"><i class="icon-ball"></i></div>
								<h3 class="insurance-title">SportFit</h3>
								<p>Prone to injuries during sports? Get yourself insured with us and stop worrying about
									them.<br><strong>Insured Amount : 200000/-</strong></p>
								<a href="/buy/2" class="button">Buy now</a>
							</div>
						</div>

						<div class="insurance-item">
							<div class="insurance-content">
								<div class="insurance-icon"><i class="icon-nurse"></i></div>
								<h3 class="insurance-title">Medicall</h3>
								<p>An insurance that covers all common health issues. Just what you need as a young
									adult<br><strong>Insured Amount : 250000/-</strong></p>
								<a href="/buy/3" class="button">Buy now</a>
							</div>
						</div>

						<div class="insurance-item">
							<div class="insurance-content">
								<div class="insurance-icon"><i class="icon-piggybank"></i></div>
								<h3 class="insurance-title">HealthFuture</h3>
								<p>You might not feel the necessity of a policy right now. Thus, we provide you long
									term benefits.<br><strong>Insured Amount : 100000/-</strong> </p>
								<a href="/buy/4" class="button">Buy now</a>
							</div>
						</div>

						<div class="insurance-item">
							<div class="insurance-content">
								<div class="insurance-icon"><i class="icon-minibus"></i></div>
								<h3 class="insurance-title">AutoProtect</h3>
								<p>You never know what happens on the streets.We come in hand when you are in an
									emergency.<br><strong>Insured Amount : 100000/-</strong></p>
								<a href="/buy/5" class="button">Buy now</a>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- .page -->
		</main>

		<div class="site-footer">
			<div class="bottom-footer">
				<div class="container">
					<nav class="footer-navigation">
						<a href="#">Home</a>
						<a href="#">About us</a>
						<a href="#">Insurance plans</a>
						<a href="#">Resources</a>
						<a href="#">Contact</a>
					</nav>

					<div class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/app.js"></script>

</body>

</html>