<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Insurance | Claim</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
	<link href="static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="static/style.css">

	<!--[if lt IE 9]>
		<script src="static/js/ie-support/html5.js"></script>
		<script src="static/js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>

	<div id="site-content">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<a href="/" id="branding">
						<img src="static/images/logo.png" alt="Company Name" class="logo">
						<div class="logo-text">
							<h1 class="site-title">HealthLine</h1>
							<small class="description">Your health's helpline</small>
						</div>
					</a> <!-- #branding -->
				</div> <!-- .container -->
			</div> <!-- .top-header -->


			<div class="bottom-header">
				<div class="container">
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="/insurance">Insurance plans</a></li>
							<li class="menu-item"><a href="/claim">Claim Insurance</a></li>
							<li class="menu-item current-menu-item"><a href="/policy">Your Policy</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</div>

		</header> <!-- .site-header -->

		<main class="main-content">
			<div class="breadcrumbs">
				<div class="container">
					<a href="/">Home</a>
					<span>Your insurance</span>
				</div>
			</div>

			<div class="page">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<h2 class="section-title text-left">Enter your details</h2>
							<form method="POST" action="" class="contact-form">
								<div class="row">
									<div class="col-md-4"><input type="number" name="custID" placeholder="CustomerID..."></div>
									<div class="col-md-4"><input type="number" name="policyNo" placeholder="PolicyNumber..."></div>

									<p class="text-center">
										<input type="submit" value="View policy details">
									</p>
							</form>


						</div>
					</div>
				</div>
			</div> <!-- .page -->
		</main>

		<div class="site-footer">
			<div class="bottom-footer">
				<div class="container">
					<nav class="footer-navigation">
						<a href="#">Home</a>
						<a href="#">About us</a>
						<a href="#">Insurance plans</a>
						<a href="#">Resources</a>
						<a href="#">Contact</a>
					</nav>

					<div class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/app.js"></script>

</body>

</html>